Repository stackhpc/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

Path conditions:
  openstack-tox-py36: unless all of: ^.*\.conf\.sample$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/fullstack/.*$, ^neutron/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*$, ^playbooks/.*$, ^roles/.*$, ^rally-jobs/.*$, ^zuul.d/(?!(job-templates)).*\.yaml
  openstack-tox-py39: unless all of: ^.*\.conf\.sample$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/fullstack/.*$, ^neutron/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*$, ^playbooks/.*$, ^roles/.*$, ^rally-jobs/.*$, ^zuul.d/(?!(job-templates)).*\.yaml
  openstack-tox-cover: unless all of: ^.*\.conf\.sample$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/fullstack/.*$, ^neutron/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*$, ^playbooks/.*$, ^roles/.*$, ^rally-jobs/.*$, ^zuul.d/(?!(job-templates)).*\.yaml
  openstack-tox-py38-arm64: unless all of: ^.*\.conf\.sample$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/fullstack/.*$, ^neutron/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*$, ^playbooks/.*$, ^roles/.*$, ^rally-jobs/.*$, ^zuul.d/(?!(job-templates)).*\.yaml
  openstack-tox-py39-arm64: unless all of: ^.*\.conf\.sample$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/fullstack/.*$, ^neutron/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*$, ^playbooks/.*$, ^roles/.*$, ^rally-jobs/.*$, ^zuul.d/(?!(job-templates)).*\.yaml
  tempest-integrated-networking: unless all of: ^\.pylintrc$, ^test-requirements.txt$, ^releasenotes/.*$, ^doc/.*$, ^setup.cfg$, ^.*\.conf\.sample$, ^.*\.rst$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^tools/.*$, ^tox.ini$, ^neutron/agent/dhcp/.*$, ^neutron/agent/l2/.*$, ^neutron/agent/l3/.*$, ^neutron/agent/metadata/.*$, ^neutron/agent/windows/.*$, ^neutron/agent/dhcp_agent.py, ^neutron/agent/l3_agent.py, ^neutron/agent/metadata_agent.py, ^neutron/agent/resource_cache.py, ^neutron/agent/rpc.py, ^neutron/agent/securitygroup_rpc.py, ^neutron/plugins/ml2/drivers/linuxbridge/.*$, ^neutron/plugins/ml2/drivers/openvswitch/.*$, ^neutron/plugins/ml2/drivers/macvtap/.*$, ^neutron/plugins/ml2/drivers/mech_sriov/.*$, ^neutron/services/qos/drivers/linuxbridge/.*$, ^neutron/services/qos/drivers/openvswitch/.*$, ^neutron/services/trunk/drivers/linuxbridge/.*$, ^neutron/services/trunk/drivers/openvswitch/.*$, ^neutron/scheduler/.*$, ^roles/.*functional.*$, ^playbooks/.*functional.*$, ^zuul.d/(?!(project)).*\.yaml

[OVN] The external networks GW chassis must the same as the GW LRP
  neutron/common/ovn/utils.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
  neutron/services/ovn_l3/ovsdb_monitor.py
  neutron/services/ovn_l3/plugin.py
  neutron/tests/functional/common/ovn/test_utils.py
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_ovn_client.py
  neutron/tests/functional/services/ovn_l3/test_ovsdb_monitor.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/test_mech_driver.py
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

Use HA_Chassis_Group in the OVN L3 scheduler
  doc/source/admin/ovn/availability_zones.rst
  doc/source/admin/ovn/l3_scheduler.rst
  doc/source/admin/ovn/refarch/refarch.rst
  doc/source/admin/ovn/routing.rst
  doc/source/admin/ovn/sriov.rst
  doc/source/admin/ovn/troubleshooting.rst
  doc/source/contributor/internals/ovn/l3_ha_rescheduling.rst
  neutron/common/ovn/utils.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/commands.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/impl_idl_ovn.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/maintenance.py
  neutron/services/ovn_l3/plugin.py
  neutron/services/portforwarding/drivers/ovn/driver.py
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_maintenance.py
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_ovn_client.py
  neutron/tests/functional/services/ovn_l3/test_plugin.py
  neutron/tests/unit/fake_resources.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_commands.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_impl_idl_ovn.py
  neutron/tests/unit/services/ovn_l3/test_plugin.py
  releasenotes/notes/ovn-ha-chassis-group-for-l3-scheduling-01ac97fb84dd445b.yaml
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

[OVN] Do not create a duplicated Logical_Switch
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/commands.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/maintenance.py
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/test_mech_driver.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_commands.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_maintenance.py
  releasenotes/notes/bug-2162974-ovn-duplicated-lswitch-3f2c85b1a7d40e69.yaml
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

[OVN] Add missing unit test scaffolding
  neutron/tests/unit/fake_resources.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_commands.py
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64

doc: expand Neutron core reviewer membership expectations
  doc/source/contributor/policies/neutron-teams.rst
Due: none

pvlan: initialize pvlan_pg_drop only in the first API worker
  neutron/services/pvlan/drivers/ovn/driver.py
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

[OVN] Add segment maintenance tasks for routed networks
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/maintenance.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_maintenance.py
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

[BGP] Remove test from tempest_exclude_regex
  zuul.d/tempest-multinode-bgp.yaml
Due: none

Fix broad-exception-raised pylint warnings
  .pylintrc
  neutron/agent/common/ovs_lib.py
  neutron/agent/l3/ha_router.py
  neutron/agent/metadata/proxy_base.py
  neutron/cmd/ovn/ml2ovn_trace.py
  neutron/common/config.py
  neutron/common/metadata.py
  neutron/manager.py
  neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/ofswitch.py
  neutron/services/metering/agents/metering_agent.py
  neutron/tests/functional/agent/l2/base.py
  neutron/tests/functional/agent/linux/openvswitch_firewall/test_iptables.py
  neutron/tests/functional/agent/linux/test_netlink_lib.py
  neutron/tests/functional/cmd/test_netns_cleanup.py
  neutron/tests/unit/agent/common/test_async_process.py
  neutron/tests/unit/agent/common/test_ovs_lib.py
  neutron/tests/unit/agent/l3/test_agent.py
  neutron/tests/unit/agent/linux/test_iptables_firewall.py
  neutron/tests/unit/agent/metadata/test_proxy_base.py
  neutron/tests/unit/plugins/ml2/drivers/mech_faulty_agent.py
  neutron/tests/unit/plugins/ml2/drivers/openvswitch/agent/openflow/native/test_ofswitch.py
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

doc: rename contributor/contribute.rst to new_extensions.rst
  doc/source/contributor/index.rst
  doc/source/contributor/new_extensions.rst
Due: none

bgp: Use nodeset alternatives to avoid NODE_FAILUREs
  zuul.d/tempest-multinode-bgp.yaml
Due: none

[OVN] Agent extension for segment bridges
  neutron/agent/ovn/extensions/segment_bridge.py
  neutron/conf/agent/ovn/ovn_neutron_agent/config.py
  neutron/tests/unit/agent/ovn/extensions/test_segment_bridge.py
  pyproject.toml
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking
