Repository stackhpc/neutron: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

Path conditions:
  openstack-tox-py36: unless all of: ^.*\.conf\.sample$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/fullstack/.*$, ^neutron/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*$, ^playbooks/.*$, ^roles/.*$, ^rally-jobs/.*$, ^zuul.d/(?!(job-templates)).*\.yaml
  openstack-tox-py39: unless all of: ^.*\.conf\.sample$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/fullstack/.*$, ^neutron/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*$, ^playbooks/.*$, ^roles/.*$, ^rally-jobs/.*$, ^zuul.d/(?!(job-templates)).*\.yaml
  openstack-tox-cover: unless all of: ^.*\.conf\.sample$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/fullstack/.*$, ^neutron/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*$, ^playbooks/.*$, ^roles/.*$, ^rally-jobs/.*$, ^zuul.d/(?!(job-templates)).*\.yaml
  openstack-tox-py38-arm64: unless all of: ^.*\.conf\.sample$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/fullstack/.*$, ^neutron/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*$, ^playbooks/.*$, ^roles/.*$, ^rally-jobs/.*$, ^zuul.d/(?!(job-templates)).*\.yaml
  openstack-tox-py39-arm64: unless all of: ^.*\.conf\.sample$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/fullstack/.*$, ^neutron/tests/functional/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^vagrant/.*$, ^devstack/.*$, ^playbooks/.*$, ^roles/.*$, ^rally-jobs/.*$, ^zuul.d/(?!(job-templates)).*\.yaml
  tempest-integrated-networking: unless all of: ^\.pylintrc$, ^test-requirements.txt$, ^releasenotes/.*$, ^doc/.*$, ^setup.cfg$, ^.*\.conf\.sample$, ^.*\.rst$, ^neutron/locale/.*$, ^neutron/tests/.*$, ^tools/.*$, ^tox.ini$, ^neutron/agent/dhcp/.*$, ^neutron/agent/l2/.*$, ^neutron/agent/l3/.*$, ^neutron/agent/metadata/.*$, ^neutron/agent/windows/.*$, ^neutron/agent/dhcp_agent.py, ^neutron/agent/l3_agent.py, ^neutron/agent/metadata_agent.py, ^neutron/agent/resource_cache.py, ^neutron/agent/rpc.py, ^neutron/agent/securitygroup_rpc.py, ^neutron/plugins/ml2/drivers/linuxbridge/.*$, ^neutron/plugins/ml2/drivers/openvswitch/.*$, ^neutron/plugins/ml2/drivers/macvtap/.*$, ^neutron/plugins/ml2/drivers/mech_sriov/.*$, ^neutron/services/qos/drivers/linuxbridge/.*$, ^neutron/services/qos/drivers/openvswitch/.*$, ^neutron/services/trunk/drivers/linuxbridge/.*$, ^neutron/services/trunk/drivers/openvswitch/.*$, ^neutron/scheduler/.*$, ^roles/.*functional.*$, ^playbooks/.*functional.*$, ^zuul.d/(?!(project)).*\.yaml

feat: automatic update of workflows master
  .github/workflows/upstream-sync.yml
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

feat: automatic update of workflows stackhpc/2024.1
  .github/workflows/tag-and-release.yml
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

feat: automatic update of community files stackhpc/2024.1
  .github/CODEOWNERS
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

Fix the tagging policy engine
  neutron/extensions/tagging.py
  neutron/tests/unit/extensions/test_tagging.py
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

Revert "Track all interfaces in Keepalived"
  neutron/agent/linux/keepalived.py
  neutron/tests/functional/agent/l3/framework.py
  neutron/tests/unit/agent/linux/test_keepalived.py
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

Revert "Remove deprecated opt keepalived_use_no_track"
  neutron/agent/linux/keepalived.py
  neutron/conf/agent/l3/config.py
  neutron/tests/unit/agent/linux/test_keepalived.py
  releasenotes/notes/remove-deprecated-keepalived_use_no_track-5a5201e75df0271e.yaml
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

Add debug message on keepalived version check
  neutron/cmd/runtime_checks.py
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

Introduce noop OVN Router scheduler
  neutron/common/ovn/constants.py
  neutron/conf/plugins/ml2/drivers/ovn/ovn_conf.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/commands.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/maintenance.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovn_client.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/ovsdb_monitor.py
  neutron/scheduler/l3_ovn_scheduler.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_maintenance.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_ovn_client.py
  neutron/tests/unit/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_ovsdb_monitor.py
  neutron/tests/unit/scheduler/test_l3_ovn_scheduler.py
  releasenotes/notes/add-noop-ovn-l3-scheduler-a6d0ee16f437c68e.yaml
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

Introduce noop OVN Router scheduler
  neutron/scheduler/l3_ovn_scheduler.py
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64

hack: make ha_chassis_group and gateway_chassis aligned
  neutron/common/ovn/utils.py
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

WIP == Maintenance method to update the LRP from GC to HCG
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/maintenance.py
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_maintenance.py
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

WIP == Use HA_Chassis_Group in the OVN L3 scheduler
  neutron/common/ovn/utils.py
  neutron/plugins/ml2/drivers/ovn/mech_driver/ovsdb/commands.py
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64, tempest-integrated-networking

Import external_net
  neutron/tests/functional/common/ovn/test_utils.py
Due: none

Non functional change: Make pep8 happy
  neutron/tests/functional/plugins/ml2/drivers/ovn/mech_driver/ovsdb/test_ovn_db_sync.py
  neutron/tests/functional/services/ovn_l3/test_ovsdb_monitor.py
  tox.ini
Due: openstack-tox-py36, openstack-tox-py39, openstack-tox-cover, openstack-tox-py38-arm64, openstack-tox-py39-arm64
